# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Unreal Engine
source/unreal_project/Intermediate/
source/unreal_project/Saved/
source/unreal_project/DerivedDataCache/
source/unreal_project/Build/
source/unreal_project/*.sln
source/unreal_project/*.csproj

# COLMAP & Heavy Assets
source/scans/colmap_output/*
!source/scans/colmap_output/.gitkeep
*.photogrammetry

# OS specific
.DS_Store
Thumbs.db
